<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DdTools"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DdTools"
        tools:targetApi="31">
        <activity
            android:name=".ui.toolpage.tools.activitysearch.details.EditActivityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.minepage.join.JoinUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.toolpage.tools.idolsearch.details.IdolGroupEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.minepage.user.userInfo.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.minepage.setting.GlobalSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.toolpage.tools.idolsearch.details.IdolGroupDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.details.HomeListDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.toolpage.tools.posture.ChoosePostureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.minepage.feedback.UserFeedBack"
            android:exported="false" />
        <activity
            android:name=".ui.toolpage.tools.activitysearch.details.ActivityDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.base.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.minepage.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.minepage.user.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.minepage.user.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.toolpage.tools.groupwho.ChooseWhoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.toolpage.tools.activitysearch.ActivitySearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.toolpage.tools.fanboard.BoardActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Base.Theme.DdTools.Splash" />
        <activity
            android:name=".ui.toolpage.tools.fanboard.FanBoardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.toolpage.tools.idolsearch.IdolSearchActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.DdTools.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main" />
    </application>

</manifest>